.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__button {
    @include button-style;
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    overflow: hidden;
    display: block;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__photo {
    display: block;
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
    cursor: pointer;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      aspect-ratio: auto;
    }
  }
}
